parameters:
	earlyTerminatingMethodCalls:
		Tester\Assert:
			- fail
		Tester\Environment:
			- skip


services:
	-
		type: Nepada\PHPStan\Type\NetteTester\AssertTypeSpecifyingExtension
		tags:
			- phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
