includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - tests

    autoload_directories:
        - tests

    excludes_analyse:
        - tests/PHPStan/Type/NetteTester/Fixtures/Foo.php
