includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - tests/PHPStan/shipmonk.neon

parameters:
    level: max
    paths:
        - tests

    excludePaths:
        - tests/Type/NetteTester/Fixtures/Foo.php
